.logo-image {
  height: 60px;
  width: 60px;
}
.odd {
  background-color: #f2f9ff;
}
.even {
  background-color: #eceff3;
}
.button-bottom{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 10px;
}