.logo-image {
  height: 60px;
  width: 60px;
}
.odd {
  background-color: #f2f9ff;
}
.even {
  background-color: #eceff3;
}
.button-bottom{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 10px;
}

.card-margin{
  margin-top: 10px;
  margin-bottom: 10px;;
}

.pagination-parent{
  float: right
}

.container-height{
  height: 100vh
}

.empty-view-text{
  text-align: center;
  margin-top:20px
  
}