<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" (click)="sortList('0')">Name(A-Z)</a>
      <a class="dropdown-item" (click)="sortList('1')">Name(Z-A)</a>
      <a class="dropdown-item" (click)="sortList('2')">Rank ↑</a>
      <a class="dropdown-item" (click)="sortList('3')">Rank ↓</a>
      
    </div>
  </div>
  <div>
    <input
    (keyup)="searchTerm$.next($event.target.value)">
  </div>
